{% extends "app/layout.html" %}

{% block content %}

<h2>{{ Daniel Otaviano dos Santos }}.</h2>
<h3>{{ RA-1800328 }}</h3>

<address>
    Daniel Otaviano dos Santos<br />
    Rua paraná, 098343-942<br />
    <abbr title="Telefone">Tel:</abbr>
    4002-8922
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
